* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

nav {
    display: flex;
    justify-content: center;
    margin: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    row-gap: 250px;
    column-gap: 15px;
}

.card {
    perspective: 1000px;
    padding: 10px;
}

.card-inner {
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.flip .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.card-front {
    background-color: #fff;
}

.card-back {
    background-color: #eee;
    transform: rotateY(180deg);
    flex-direction: column;
    overflow-y: auto;
}

input, button {
    margin: 10px 0;
}

/* ul {
    list-style: none;
} */

.scrollable-list {
    max-height: 100px;
    overflow-y: scroll;
    width: 100%;
    padding: 0;
    list-style-type: circle;
}

@media (max-width: 600px) {
    .card-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
